-content_for :body do
 %h2 Sign in
 = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %br
  = f.email_field :email, :autofocus => true, placeholder: :email
  %br
  = f.password_field :password, placeholder: :password
  = f.submit "Sign in"
 = render "devise/shared/links"